body {
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
}

#link-container {
    display: flex;
}
#content {
    position: relative;
    background-color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    height: 100dvh;
}

#logo-container {
    padding: 20px;
}

#logo {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#hero-image-container {
    width: 80%;
    height: 250px;
}

#hero-image {
    width: 70%;
    height: 70%;
    object-fit: none;
}

#footer-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: rgb(86, 46, 103);
    color: rgb(146, 146, 146);
    height: 50px;
}

#link-container{
    display: flex;
    justify-content: center;
}

.Link {
    background-color: rgb(147, 23, 23);
    height: 100px;
    width: 100px;
    color: rgb(179, 117, 255);
    border: 2px solid black;
    border-radius: 50px;
}

a {
    text-decoration: none;
}