body {
    background-color: rgb(167, 167, 167);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(34, 17, 17);
    margin: 0;
    text-align: center;
}

#content {
    position: relative;
    background-color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    height: 100dvh;
}

#logo-container {
    padding: 20px;
}

#logo {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#hero-image-container {
    width: 100%;
    height: 300px;
}

#hero-image {
    width: 80%;
    height: 80%;
    object-fit: cover;
}

#footer-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: black;
    color: rgb(0, 0, 0);
    height: 50px;
}